// Default color scheme
// Common
$white:      #fff;
$black:      #000;
// Gray
$gray-0:     #212529;
// Blue
$blue-0:     #c898f6;
// Indigo
$indigo-0:   #7552b0;
// Green
$green-0:    #28a745;
// Red
$red-0:      #dc3545;
// Yellow
$yellow-0:   #ffc107;
// Cyan
$cyan-0:     #17a2b8;
