include ../container/container

mixin main-page(data)
	.main-page&attributes(attributes)
		+container().main-page__body
			section.main-page__section.main-page__section_features
				h2.main-page__title Content
