extends ../layouts/default
include ../components/footer/footer
include ../components/header/header
include ../components/container/container

block head
	- page.title = "Home page"
	- page.class = ["page_style_default"]

block header
	+header()

block main
	+container()
		h1 Home page

block footer
	+footer()
